{% extends "bookmarks/base.html" %}
{% block title %}
    Friends of {{ username }}
{% endblock title %}
{% block head %}
    Friends of {{ username }}
{% endblock head %}
{% block content %}
    <h2>Friend List</h2>
    {% if friends %}
        <ul class="friends list-group">
            {% for friend in friends %}
                <li class="list-group-item"><a href="/user/{{ friend.username }}">{{ friend.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No friends found</p>
    {% endif %}
    <h2>Latest Friend Bookmarks</h2>
    {% include "bookmarks/bookmark_list.html" %}
{% endblock content %}