{% extends "bookmarks/base.html" %}
{% load staticfiles crispy_forms_tags %}
{% block external %}
    <script type="text/javascript" src="{% static "bookmarks/js/search.js" %}"></script>
    <style type="text/css">
        #search-results {
            margin-top: 20px;
        }
    </style>
{% endblock external %}
{% block title %}
    Search Bookmarks
{% endblock title %}
{% block head %}
    Search Bookmarks
{% endblock head %}
{% block content %}
    <form id="search-form" method="get" action=".">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div id="search-results">
        {% if show_results %}
            {% include "bookmarks/bookmark_list.html" %}
        {% endif %}
    </div>
{% endblock content %}